/* basic css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p,span,a{
    font-family: 'Rubik', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 1270px;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}





.top-header {
	background: #203154;
	height: 60px;
	color:#fff;
}
.top-mail {
	float: left;
	width: 70%;
	margin-left: -43px;
}
.top-mail ul{}
.top-mail ul li {
	display: inline-block;
	margin-left: 45px;
	margin-top: 20px;
}
.top-mail ul li a {
	text-decoration: none;
	color: #fff;
}
.top-right {
	width: 30%;
	float: right;
	text-align: right;
}
.top-right ul{}
.top-right ul li {
	float: right;
	margin-top: 20px;
	list-style: none;
	margin-left: 20px;
}
.top-right ul li a {
	text-decoration: none;
	color: white;
}
.top-right span {
	color: blue;
	margin-right: 10px;
}
.btn-top a {
	padding: 21px 30px;
	background: #21a7d0;
	color: #ffffff;
	display: inline-block;
	margin-top: -21px;
}

/* menu-area */
.menu-area {
	background: #ece9e9;
	height: 100px;
}
.menu-bd{
 width: 15%;
 float: left;
}
.menu-bd img {
	max-width: 50%;
	margin-top: 20px;
}
.menu-kind {
	width: 70%;
	float: inline-start;
}
.menu-kind ul{}
.menu-kind ul li {
	list-style: none;
	display: inline-block;
	margin-top: 40px;
}
.menu-kind ul li a:hover{
color: coral;
transition: .4s;
}
.menu-kind ul li a {
	text-decoration: none;
	padding: 5px 20px;
	color: black;
	font-weight: 600;
}
.menu-kind ul li a span {
	font-size: 13px;
	margin: 5px;
}
.menu-kind ul li a strong{
	opacity: 0;
	visibility: hidden;
}

.menu-kind ul li a:hover span{
	visibility: hidden;
	opacity: 0;
}
.menu-kind ul li a:hover strong{
	opacity: 1;
	visibility: visible;
}
.menu-kind ul li {
	position: relative;
}
.menu-kind ul li ul {
	position: absolute;
	top: 308%;
	left: 0;
	width: 550px;
	background-color: #d9d1d1;
	padding: 0px 82px;
	opacity: 0;
	visibility: hidden;
	transform-origin: top center;
	transform: scaleY(0);
	transition: .9s;
}
.menu-kind ul li:hover ul{
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}
.menu-kind ul li ul li{}
.menu-kind ul li ul li a{}
.menu-end {
	width: 15%;
	float: right;
	margin-top: 28px;
}
.menu-end span {
	margin-left: 12px;
	font-size: 25px;
	float: left;
}
.mita span{
	font-size: 24px;
}
.mita span:hover{
	
}

/* tipu */
.banner{
	background: url(imf/ia_400000067.jpg);
	height: 700px;
	background-size: cover;
	background-position: center;
}
.tipu {
	text-align: center;
	padding: 100px 297px;
}
.tipu h1{
	font-size: 50px;
}
.tipu p {
	color: #767676;
	margin-top: 20px;
	margin-bottom: 28px;
}
.tipu a {
	text-decoration: none;
	padding: 17px 25px;
	background: #1b8df2;
	margin-top: 70px;
	color: white;
	border-radius: 25px;
}
/* upeer */

.upeer{
	height: 700px;
	background: white;
}
.jibon-bd {
	width: 60%;
	background: #e7f4f6;
	padding: 60px 60px 75px;
	border-radius: 5px;
	margin-top: -60px;
	display: inline-block;
}
.jibon-bd h5 {
	margin-top: 50px;
	font-size: 22px;
	color: #21a7d0;
}
.jibon-bd h1 {
	font-size: 40px;
}
.jibon-bd p {
	font-size: 18px;
	line-height: 33px;
	color: #505050;
	margin-bottom: 88px;
}
.pic-part img{

}
.auther img {
	float: right;
	margin-right: 273px;
	margin-top: -91px;
}
.auther span {
	font-size: 16px;
	float: right;
	margin-right: 250px;
	margin-top: -15px;
}
.pic-part{
	margin-top: 30px;
}
.sima-nm {
	width: 35%;
	height: 500px;
	float: right;
}

/* bita */
.hkol {
	margin-bottom: 42px;
	margin-top: -43px;
}
.hkol a {
	text-decoration: none;
	background: #21a7d0;
	font-size: 20px;
	text-transform: uppercase;
	padding: 20px 148px;
	text-align: center;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: 10px;
	overflow: hidden;
}
.bita {
	height: 108px;
	background: #e7f4f6;
	margin-bottom: 18px;
}
.bita h1 {
	font-size: 25px;
	border-right: 1px solid #21a7d0;
	display: inline-block;
	padding: 20px 30px;
	color: #21a7d0;
	font-weight: 600;
}
.bita p {
	font-size: 20px;
	float: right;
	margin-right: 28px;
	margin-top: 30px;
}

/* bitcone */

.bitcone {
	height: 200px;
	background: #f3f8f9;
}
.didar{ 
	display: inline-block;
	width: 70%;
	float: left;
}
.didar h5 {
	font-size: 18px;
	margin-top: 85px;
}
.didar h1{
	font-size: 30px;
}
.vivo {
	width: 30%;
	float: right;
	margin-top: 105px;
}
.vivo a {
	padding: 12px 40px;
	border: 1px solid #21a7d0;
	border-radius: 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	color: #111111;
	background: #f3f8f9;
	text-decoration: none;
	transition: .5s;
}
.vivo a:hover{
	background: rgb(64, 64, 245);
	color: #fff;
}
/* himel */

.himel {
	background: #f3f8f9;
	height: 520px;
}
.emon {
	float: left;
	width: 30%;
	border: 1px solid #dfe9eb;
	background: #ffffff;
	overflow: hidden;
	padding: 25px;
	color: #505050;
	border-radius: 5px;
	margin-left: 2%;
	margin-bottom: 2%;
	transition: .9s;
}
.emon:hover{
	background: rgb(64, 64, 245);
}

.pic-emon {
	width: 80px;
	height: 80px;
	line-height: 110px;
	border-radius: 100%;
	background: rgba(22, 170, 202, 0.2);
	text-align: center;
	transition: .5s;
}
.emon:hover .pic-emon{
	background: #fff;
}
.emon:hover .text-emon h1{
	color: #fff;
}
.emon:hover .text-emon h5{
	color: #fff;
}
.pic-emon img{}
.text-emon {
	float: right;
	margin-top: -62px;
	margin-right: 35px;
}
.text-emon h1 {
	color: #111111;
	margin-bottom: 5px;
	font-weight: 700;
}
.text-emon h5 {
	color: #505050;
	font-weight: 600;
	font-size: 15px;
	line-height: 26px;
}

/* bitcone-bd */

.bitcone-bd {
	background: #f4dede;
	height: 200px;
}
.didar h6 {
	color: blue;
	font-size: 18px;
	margin-top: 90px;
}

/* saddam */
.saddam{
	background: #fdf7f7;
	height: 1050px;
}
.simana {
	width: 31%;
	padding: 30px;
	border: 1px solid #dfe9eb;
	border-radius: 5px;
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 2%;
}
.tumi img{
	width: 100%;
	border-radius: 5px;
	height: auto;
}
.uni {
	margin-top: 20px;
	margin-bottom: 20px;
}

.uni h2{
	display: inline-block;
	padding: 3px 20px;
	color: #ffffff;
	font-weight: 500;
	background: #21a7d0;
	border-radius: 3px;
}
.uni a {
	color: #505050;
	text-decoration: none;
	margin-left: 17px;
	font-size: 18px;
}

.kumi h1 {
	font-weight: 700;
	font-size: 25px;
	color: #111111;
	margin-bottom: 30px;
}

.ehan{
	display: inline-block;
}
.ehan a {
	float: left;
	margin-right: 10px;
	color: #111;
}
.ehan h3 {
	float: left;
	margin-right: 60px;
	font-size: 16px;
}
.ehan span{
	font-size: 15px;
	float: left;
	color: #fcb903;
}
.ehan h4 {
	float: left;
	font-size: 16px;
	color: #505050;
	font-weight: 400;
}
.tier a {
	float: right;
	padding: 7px 18px;
	background: #f3f8f9;
	border: 1px solid #21a7d0;
	border-radius: 3px;
	color: #111111;
	margin-top: -30px;
}

/* uttom */

.uttom {
	height: 470px;
	background: #fffefe;
}
.pic-full{}
.pic-full img{}
.pic-full {
	width: 50%;
	float: left;
}
.text-full {
	width: 50%;
	float: left;
	background: #f3f8f9;
	height: 396px;
}
.text-full h1 {
	margin-top: 70px;
	margin-left: 70px;
	font-size: 36px;
	font-weight: 700;
	color: #111111;
}
.text-full p {
	font-size: 15px;
	color: #505050;
	line-height: 26px;
	font-weight: 400;
	margin-left: 70px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.text-full a {
	text-decoration: none;
	border: 1px solid #21a7d0;
	border-radius: 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	margin-left: 70px;
	color: #ffffff;
	background: #21a7d0;
	padding: 17px 58px;
	margin-top: 20px;
}

/* qura */

.qura-bd {
	background: #f9f8f8;
	height: 550px;
}
.ripon {
	width: 45%;
	float: left;
	background: #f9f8f8;
	height: 500px;
}
.ripon h1 {
	font-size: 37px;
	color: #111111;
	line-height: 46px;
	font-weight: 700;
	margin-top: 45px;
	margin-left: 45px;
	margin-bottom: 30px;
}
.swe {
	background: #21a7d0;
	height: 60px;
	width: 70%;
	margin-left: 70px;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.08);
	display: inline-block;
}
.swe span {
	float: left;
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 20px;
}
.swe h5 {
	margin-top: 16px;
	font-size: 16px;
}
.swe-bd {
	background: #ffffff;
	height: 60px;
	width: 70%;
	margin-left: 70px;
	color: #3c3737;
	box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.08);
	display: inline-block;
	margin-top: 20px;
}
.swe-bd span{
	float: left;
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 20px;
}
.swe-bd h5 {
	margin-top: 16px;
	font-size: 16px;
}
.rer {
	background: #f4f8f9;
	height: 60px;
	width: 70%;
	margin-left: 70px;
	color: #505050;
	box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.08);
	display: inline-block;
	font-size: 15px;
	line-height: 25px;
}
.rer p {
	margin-top: 7px;
}
.kawser {
	width: 55%;
	float: right;
}
.kawser img {
	height: 500px;
}
.kawser{}

.ads {
	background: #f4dede;
	height: 465px;
}
.vivo-bd {
	display: inline-block;
	margin-top: 90px;
}
.vivo-bd a {
	padding: 12px 40px;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	color: #111111;
	text-decoration: none;
	transition: .5s;
	margin-left: 104px;
	display: inline-block;
}
.vivo-bd span{
	margin-top: 40px;
}
.uk {
	float: left;
	margin-left: 30px;
	margin-bottom: 50px;
}
.uk img{

}

/* haji */

.haji{
	background: #fff;
	height: 220px;
	text-align: center;
}
.teacher {
	margin-top: 65px;
	display: inline-block;
}
.teacher h3 {
	color: #21a7d0;
	font-size: 18px;
	line-height: 28px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.teacher h1 {
	font-size: 36px;
	font-weight: 700;
	color: #111111;
}

/* haji-bd */

.haji-bd {
	height: 700px;
	background: #fff;
}

.rose img {
	height: 75px;
	margin-bottom: 20px;
	margin-top: 50px;
	border-radius: 50%;
}
.rose p {
	text-align: center;
	color: #505050;
	font-size: 22px;
	line-height: 44px;
	font-weight: 500;
	font-style: italic;
	margin-left: 30px;
	margin-right: 30px;
}
.joba{}
.joba img {
	width: auto;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 13px;
}

.jklo {
	float: left;
	width: 45%;
	text-align: center;
	background-color: #f3f8f9;
	border-radius: 5px 5px 5px 5px;
	margin-left: 43px;
	height: 525px;
	line-height: 54px;
}


/* kolija */

.kolija{
	height: 80px;
	background:#fff;
}
.asdf{
	margin-left: 540px;
}
.asdf span {
	float: left;
	margin-right: 10px;
	font-size: 45px;
	color: #004cff;
}
.hak{
	margin-left: 540px;
}
.hak span {
	float: left;
	margin-right: 10px;
	font-size: 45px;
	color: #6e8fdd;
}
.kak {
	margin-left: 540px;
}
.kak span {
	float: left;
	margin-right: 10px;
	font-size: 45px;
	color: #a8bff4;
}

/* haji-kk */

.haji-kk {
	background: url(imf/ia_400000070.jpg);
	text-align: center;
	height: 900px;
}


.uzzal {
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #e11;
	width: 50%;
	height: 200px;
}
.liton{}
.liton img {
	float: left;
}
.liton-2{}

.kkw {
	float: left;
	margin-left: 20px;
}
.kkw span {
	float: left;
}
.kkw h4 {
	float: left;
	margin-left: 20px;
}

.kkw-2{}
.kkw-2 span{}
.kkw-2 h4{}

.uzzal-2{}
.yoyo{}
.yoyo-2{}
